/* ----------- Variables ----------- */

:root {
  --color-1: #b0cfb8;
  --color-2: #85b88d;
  --color-3: #83c273;
  --color-4: #79e448;
  --color-5: #00d848;
  --color-6: #07c700;
  --color-7: #059700;
  --color-8: #128a02;
  --color-9: #065e03;
  --color-10: #55c04b;

  --button-background-color: var(--color-4);
  --button-hover-color-1: var(--color-5);
  --button-hover-color-2: var(--color-5);
  --navbar-bg-color: var(--color-10);
  --footer-color: var(--color-10);
  --wave-color: var(--color-4);

  --title-font-type: 'Concert One';
  --navbar-font-type: 'REM';
  --button-font-type: 'Concert One';
  --animal-font-type: 'DynaPuff';
  --main-font-type: 'REM';
}


/* ----------- Style CSS ----------- */

*,
::after,
::before {
  /* Make all borders part of width + height of element */
  box-sizing: border-box;
}

.ocean {
  /* Apply light blue to dark blue gradient to give appearance of ocean */
  background-image: linear-gradient(var(--color-4), var(--color-9));
  padding-top: 70vh;
}

.vertical-scroll-container {
  /* Container that has vertical scroll */
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  gap: 6rem 0;
  min-width: 400px;
  overflow-y: scroll;
  scrollbar-color: #3848a0 #1b2767;
  scroll-snap-type: y mandatory;
  padding: 200px 20px;
  height: 600px;
}

.vertical-scroll-container img {
  /* Make the scroll snap align to images in vertical scroll containers */
  scroll-snap-align: center;
  width: 400px;

  animation: slideInOut;
  animation-timeline: view();
}

.logo {
  /* Logo size */
  height: 50px;
  width: 50px;
}

.body-background-color {
  /* Main background color */
  background-color: var(--color-1);
}

.title-font {
  /* Style for titles */
  font-size: 200px;
}

.slogan {
  /* Style for slogan in index title space */
  font-size: 20px;
}

.title-space {
  /* Title space for each page */
  height: 300px;
  font-family: var(--title-font-type);
  color: var(--color-7);
}

.waves {
  /* Style for animated waves */
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
  top: 230px;
}

.wider-container {
  /* A wider container */
  max-width: 90%;
  margin: 0 auto;
}

.session-container {
  /* A wider container */
  max-width: 80%;
  margin: 0 auto;
}

.blockquote-footer {
  /* Style for quote footers */
  color: rgb(39, 37, 37);
}

.main-font {
  font-size: 1.7vh;
}

.review-font {
  font-size: 1.4vh;
}

.nav-font {
  font-size: 2vh;
}

/* ----------- Navbar ----------- */

.navbar {
  /* Background color for navbar */
  background-color: var(--navbar-bg-color);
}

.nb-font {
  /* Font styles for navbar */
  font-family: var(--navbar-font-type);
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.nb-title-font {
  /* Font style for title in navbar */
  font-family: var(--navbar-font-type);
  font-size: 25px;
}

/* ----------- Index Page ----------- */

.organization-info {
  background-color: var(--color-2);
}

.org {
  font-size: 2vh;

}

.expert-quotes {
  background-color: var(--color-2);
}

/* --- Donate Button CSS --- */

.donate-btn {
  /* Donate button styles */
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background-color: var(--button-background-color);
  border: none;
  z-index: 1;
  font-family: var(--button-font-type);
}

.donate-btn:after {
  /* Animation when hovering donate button */
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--button-hover-color-2);
  background-image: linear-gradient(315deg, var(--button-hover-color-1) 0%, var(--button-hover-color-2) 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
}

.donate-btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.donate-btn:active {
  /* Animation when clicked */
  top: 2px;
}

/* ----------- Learn More ------------*/

/* --- Iceberg --- */
.iceberg {
  /* Container for iceberg image */
  max-height: 90vh;
  position: relative;
  bottom: 80px;
  margin: 50px auto;
  overflow: hidden;
  animation: bobble 3s infinite ease-in-out;
}

.iceberg-img {
  /* Styles for iceberg image */
  height: 70vh;
  position: relative;
  margin: 50px auto;
}

/* --- Class CSS --- */
.class {
  cursor: pointer;
  max-height: 500px;
  background-color: var(--color-10);
  border-radius: 40px;
  border: 10px solid #3479a0;
  padding: 25px;
  animation: fadeOut 1s;
  opacity: 0;
  display: none;
  font-family: var(--navbar-font-type);
  margin: 20px auto;
}

/* ----------- About Us ----------- */

.authors {
  background-color: var(--wave-color);
}

.about {
  /* Style for author cards */
  width: 400px;
  margin: auto;
}

.card {
  /* Style for cards */
  background-color: var(--color-10);
  color: white;
  font-family: var(--navbar-font-type);
  margin-bottom: 20px;
  border-radius: 20px;
  border: 10px solid #3f82b3;
}

.card img {
  /* Style for images in cards */
  border-radius: 15px;
}

.pfp {
  /* Style for author images */
  max-height: 250px;
  width: auto;
  border-radius: 20px;
}

.alto-img {
  /* Style for mascot image */
  height: 400px;
  width: auto;
}

/* ----------- Booking ----------- */

.location {
  /* Style for location container */
  background-color: var(--color-4);
  font-family: var(--main-font-type);
  font-size: 1.7vh;
}

.map {
  /* Style for map */
  width: 600px;
  min-width: 300px;
  height: 450px;
}

.sessions {
  background-color: var(--wave-color)
}

h1 a{
  color: var(--color-7);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

h1 a i {
  font-size: 0.5em;
  letter-spacing: 0.2em;
  margin-left: 20px;
  margin-right:20px;
  margin-top:20px;
  animation: bobble 1s infinite; 
}

h1 a:hover i {
  animation: none; 
  transform: translateY(0); 
}

/* Optional: Add a hover effect to the link */
h1 a:hover {
  color: var(--color-9); /* change color when hovered */
}

/* --- Reviews --- */
.fa-star {
  /* Style for filled in star */
  color: var(--color-7);
}

.no-star {
  /* Style for not filled in star */
  color: var(--color-6);
}

.reviews {
  background-color: var(--color-4);
}

.reviews figure {
  /* Styles for review containers */
  border: 10px solid var(--color-5);
  border-radius: 25px;
  background-color: rgb(101, 204, 230);
  padding: 20px;
}

/* ----------- Firebase ----------- */

.ordered-List-item-font {
  font-size: 22px;
}

.overview-font {
  font-size: 25px;
}

.signUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firebase-container {
  border: 10px solid var(--color-5);
  border-radius: 25px;
  margin: auto;
  padding: 50px auto;
  font-family: var(--title-font-type);
  color: white;
}

.firebase-title {
  font-family: var(--title-font-type);
  color: var(--color-7)
}

.firebase-text {
  margin-left: 50px;
}

.firebase-img {
  margin-left: .5vw;
  z-index: -1;
  background-color: var(--color-5);
}

.firebase-alto {
  height: 20vw;
  width: auto;
  margin-left: 170px;
  animation: bobble 1.5s infinite ease-in-out;
}

/* ----------- Planning ---------- */

.planning-section-font {
  font-family: var(--title-font-type);
  color: var(--color-7);
}

.instructions {
  font-family: var(--main-font-type);
}

.planning-section {
  /* Styles for planning containers */
  margin-top: 2.5vw;
  background-color: var(--color-2);
  border: 10px solid var(--color-5);
  border-radius: 25px;
  padding: 20px;
}

.planning-section select,input {
  font-family: var(--main-font-type)
}

#chart-wrapper{
  margin: auto;
  padding: 10px;
  /* If nesting a chart's container within another container, remove the 
     height and width values.  The outer container will control the dimensions */ 
  height: 40vh; 
  min-height: 400px;
  background-color: whitesmoke !important;
  justify-content: center;
  align-items: center;  
}

/* ----------- Footer ----------- */

.footer {
  /* Style for most footers */
  background-color: var(--footer-color);
}

.lm-footer {
  /* Style for separate learn more footer */
  background-color: var(--color-9);
}

.footer-alto {
  /* Style for mascot image in footer */
  height: 10vh;
  padding-top: 15px;
  width: auto;
  animation: bobble 1.5s infinite ease-in-out;
}

.footer-alto:hover {
  /* Pause animation when hovering image */
  animation-play-state: paused;
}

.footer-img {
  /* Transition for arrow (anchor) */
  transition: transform 1s ease;
}

.footer-img:hover {
  /* Rotate anchor (arrow) when hovered */
  transform: rotate(180deg);
}

.footer .col-md-3:not(:last-child) {
  /* Add borders between footer columns */
  border-right: 1px solid #ccc;
}

.footer .col-md-3 {
  /* Add padding between footer columns */
  padding-right: 15px;
}

/* ----------- Responsive CSS ----------- */

@media screen and (max-width: 1420px) {
  .vertical-scroll-container {
    /* Remove snap scroll when width is small */
    scroll-snap-type: none;
  }
}

@media screen and (max-height: 800px) {
  .waves {
    /* Move position of waves when height changes */
    top: 250px;
  }

  .iceberg {
    /* Move position of iceberg when height changes */
    top: 50px;
  }
}

/* ----------- Keyframes ----------- */


@keyframes move-forever {

  /* Looping animation for waves */
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes bobble {

  /* Bobble Up and Down Animation */
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Transitions for Vertical Scroll Container (Sessions) */
@keyframes slideInOut {

  /* Have elements fade in/out and scale when visible on scroll container */
  entry 0% {
    transform: scale(.8) translateY(100px);
    opacity: 0;
  }

  entry 100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  exit 0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  exit 100% {
    transform: scale(.8) translateY(-100px);
    opacity: 0
  }
}

@keyframes fadeIn {

  /* Fade In Transition */
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {

  /* Fade Out Transition */
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ----------- Animations ----------- */

/* --- Wave Animation CSS --- */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: var(--wave-color);
  opacity: 0.7;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: var(--wave-color);
  opacity: 0.5;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: var(--wave-color);
  opacity: 0.3;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: var(--wave-color);
  opacity: 1;
}

/* --- Underline Animation CSS --- */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #dddddd;
  transition: color 0.3s ease;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover {
  color: #ffffff;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
}



.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 100px;
  right:-20px;
  border-radius: 5px;
  margin-top: 0;
}
  
.dropdown-item {
  color: #000;
  padding: 8px 16px;
  font-family: var(--navbar-font-type);
  font-size: 12px; 
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}