/* ----------- Variables ----------- */

:root {
  --color-1: #a3b18a;
  --color-2: #d6ceb3;
  --color-3: #83c273;
  --color-4: #79e448;
  --color-5: #00d848;
  --color-6: #07c700;
  --color-7: #3a5a40;
  --color-8: #2a412e;
  --color-9: #065e03;
  --color-10: #588157;

  --button-background-color: var(--color-4);
  --button-hover-color-1: var(--color-5);
  --button-hover-color-2: var(--color-5);
  --navbar-bg-color: var(--color-10);
  --footer-color: var(--color-10);
  --wave-color: var(--color-4);

  --title-font-type: 'DynaPuff';
  --navbar-font-type: 'REM';
  --button-font-type: 'Concert One';
  --animal-font-type: 'DynaPuff';
  --main-font-type: 'REM';
}


/* ----------- Style CSS ----------- */

*,
::after,
::before {
  /* Make all borders part of width + height of element */
  box-sizing: border-box;
}

.ocean {
  /* Apply light blue to dark blue gradient to give appearance of ocean */
  background-image: linear-gradient(var(--color-4), var(--color-9));
  padding-top: 70vh;
}

.vertical-scroll-container {
  /* Container that has vertical scroll */
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  gap: 6rem 0;
  min-width: 400px;
  overflow-y: scroll;
  scrollbar-color: #3848a0 #1b2767;
  scroll-snap-type: y mandatory;
  padding: 200px 20px;
  height: 600px;
}

.vertical-scroll-container img {
  /* Make the scroll snap align to images in vertical scroll containers */
  scroll-snap-align: center;
  width: 400px;

  animation: slideInOut;
  animation-timeline: view();
}

.logo {
  /* Logo size */
  height: 50px;
  width: 50px;
}

.body-background-color {
  /* Main background color */
  background-color: var(--color-1);
}

.title-font {
  /* Style for titles */
  font-size: 200px;
}

.slogan {
  /* Style for slogan in index title space */
  font-size: 20px;
}

.title-space {
  /* Title space for each page */
  height: 300px;
  font-family: var(--title-font-type);
  color: var(--color-7);
}

.title-space .levels {
  height: 100vh
}

.waves {
  /* Style for animated waves */
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
  top: 230px;
}

.wider-container {
  /* A wider container */
  max-width: 90%;
  margin: 0 auto;
}

.session-container {
  /* A wider container */
  max-width: 80%;
  margin: 0 auto;
}

.blockquote-footer {
  /* Style for quote footers */
  color: rgb(39, 37, 37);
}

.main-font {
  font-size: 1.7vh;
}

.review-font {
  font-size: 1.4vh;
}

.nav-font {
  font-size: 2vh;
}

/* ----------- Navbar ----------- */

.navbar {
  /* Background color for navbar */
  background-color: var(--navbar-bg-color);
}

.nb-font {
  /* Font styles for navbar */
  font-family: var(--navbar-font-type);
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.nb-title-font {
  /* Font style for title in navbar */
  font-family: var(--navbar-font-type);
  font-size: 25px;
}

/* ----------- Index Page ----------- */

.organization-info {
  background-color: var(--color-2);
  color: var(--color-7);
  font-family: var(--animal-font-type);
}
/* ----------- About Us ----------- */

.authors {
  background-color: var(--wave-color);
}

.about {
  /* Style for author cards */
  width: 400px;
  margin: auto;
}

.card {
  /* Style for cards */
  background-color: var(--color-10);
  color: white;
  font-family: var(--navbar-font-type);
  margin-bottom: 20px;
  border-radius: 20px;
}

.card img {
  /* Style for images in cards */
  border-radius: 15px;
}

.btn-join {
  background-color: var(--color-7);
  color:white;
}

.btn-join:hover {
  background-color: var(--color-8);
  color: white
}

.success-text {
  color: var(--color-2);
}



/* ----------- Firebase ----------- */

.ordered-List-item-font {
  font-size: 22px;
}

.overview-font {
  font-size: 25px;
}

.signUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firebase-container {
  border: 10px solid var(--color-5);
  border-radius: 25px;
  margin: auto;
  padding: 50px auto;
  font-family: var(--title-font-type);
  color: white;
}

.firebase-title {
  font-family: var(--title-font-type);
  color: var(--color-7)
}

.firebase-text {
  margin-left: 50px;
}

.firebase-img {
  margin-left: .5vw;
  z-index: -1;
  background-color: var(--color-5);
}

.firebase-alto {
  height: 20vw;
  width: auto;
  margin-left: 170px;
  animation: bobble 1.5s infinite ease-in-out;
}

/* ----------- Level Select ---------- */

main .levels-main {
  width: 100%;
  height: 80%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: 5%;
    bottom: 0;
    width: 90%;
    height: 80%;
    transform: none;
    border-radius: .5;
    box-shadow: none;
    opacity: 1;
    border: 20px solid var(--color-7);
  }

  &:nth-child(3) { left: 50%; top: 90% }
  &:nth-child(4) { left: calc(50% + 220px); top: 90% }
  &:nth-child(5) { left: calc(50% + 440px); top: 90% }
  &:nth-child(6) { left: calc(50% + 660px); opacity: 0; top: 90% }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem var(--title-font-type);
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: var(--title-font-type);
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}


/* ----------- Planning ---------- */

.planning-section-font {
  font-family: var(--title-font-type);
  color: var(--color-7);
}

.instructions {
  font-family: var(--main-font-type);
}

.planning-section {
  /* Styles for planning containers */
  margin-top: 2.5vw;
  background-color: var(--color-2);
  border: 10px solid var(--color-5);
  border-radius: 25px;
  padding: 20px;
}

.planning-section select,input {
  font-family: var(--main-font-type)
}

#chart-wrapper{
  margin: auto;
  padding: 10px;
  /* If nesting a chart's container within another container, remove the 
     height and width values.  The outer container will control the dimensions */ 
  height: 40vh; 
  min-height: 400px;
  background-color: whitesmoke !important;
  justify-content: center;
  align-items: center;  
}

/* ----------- Footer ----------- */

.footer {
  /* Style for most footers */
  background-color: var(--footer-color);
}

.lm-footer {
  /* Style for separate learn more footer */
  background-color: var(--color-9);
}

.footer-alto {
  /* Style for mascot image in footer */
  height: 10vh;
  padding-top: 15px;
  width: auto;
  animation: bobble 1.5s infinite ease-in-out;
}

.footer-alto:hover {
  /* Pause animation when hovering image */
  animation-play-state: paused;
}

.footer-img {
  /* Transition for arrow (anchor) */
  transition: transform 1s ease;
}

.footer-img:hover {
  /* Rotate anchor (arrow) when hovered */
  transform: rotate(180deg);
}

.footer .col-md-3:not(:last-child) {
  /* Add borders between footer columns */
  border-right: 1px solid #ccc;
}

.footer .col-md-3 {
  /* Add padding between footer columns */
  padding-right: 15px;
}

/* ----------- Keyframes ----------- */


@keyframes move-forever {

  /* Looping animation for waves */
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes bobble {

  /* Bobble Up and Down Animation */
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Transitions for Vertical Scroll Container (Sessions) */
@keyframes slideInOut {

  /* Have elements fade in/out and scale when visible on scroll container */
  entry 0% {
    transform: scale(.8) translateY(100px);
    opacity: 0;
  }

  entry 100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  exit 0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  exit 100% {
    transform: scale(.8) translateY(-100px);
    opacity: 0
  }
}

@keyframes fadeIn {

  /* Fade In Transition */
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {

  /* Fade Out Transition */
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ----------- Animations ----------- */

/* --- Underline Animation CSS --- */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #dddddd;
  transition: color 0.3s ease;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover {
  color: #ffffff;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
}



.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 100px;
  right:-20px;
  border-radius: 5px;
  margin-top: 0;
}
  
.dropdown-item {
  color: #000;
  padding: 8px 16px;
  font-family: var(--navbar-font-type);
  font-size: 12px; 
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}