{% extends "layout.html" %}

{% block content %}

<!-- Website Title Space -->
<section class="title-space pb-5 px-3" style="height: auto;">
    <h3 class="text-center pt-4">
    </h3>
    <div class="container text-center ">
        <h1 class="display-1 title-font">Dinosaur Math</h1>
        <h2 style="font-size: 50px;">Making Review Exciting and Fun!</h2>
    </div>
</section>

<section>
    <!-- Information about the Organizations -->
    <div class="organization-info">
        <h1 class="display-5 pt-5 text-center"><strong>Sign Up Now!</strong></h1>
        <hr>
        <div class="wider-container container-fluid p-5">
            <!-- Information about Aqua Lifeline (Organization 1) -->
            <div class="row p-3">
                <div class="col-lg-3 m-auto text-center">
                    <h1>Students</h1>
                    <hr>
                    <p class="org main-font">Join your classroom! Complete levels by reviewing algebra questions and get rewards!
                    </p>
                </div>
                <div class="col-lg-3 m-auto text-center">
                    <h1>Teachers</h1>
                    <hr>
                    <p class="org main-font">Create classrooms to add your students. You can then import questions for
                        them to review while also following an engaging story that will motivate your kids to learn!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}